body {
	background-color: white;
	background-image: linear-gradient(180deg, hsl(2,77%,50%) 0%,  hsl(7,82%,42%) 20%, hsl(2,87%,22%)100%);
	/*background-image: url("../img/bg_img.gif");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	border-bottom: solid 5px white;
}

::selection{
	color: hsla(0,0%,100%,0.5);
}

#content > div {
	margin-bottom: 3em;
}

#content {
	color: hsl(30,5%,95%);
	font-family: Bahnschrift, Tahoma, Arial, sans-serif;
	text-align: center;
	font-size: 2em;
	width: 50%;
	margin: auto;
}

a {
	text-decoration: none;
}

a:visited {
	color: initial;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

#long_text {
	font-size: 1em;
}

h1 {
	border-bottom: solid 3px white;
	padding: 1em 0.5em;
}

#title {
	margin: auto;
	font-size: 1em;
	border-radius: 15%;
	border-top: double 10px white;
	display: block;
	width: 8em;
	padding: 0.5em 0.2em 0.2em;
	text-transform: uppercase;
}

#more {
	background-color: transparent;
	font-family: Bahnschrift, Arial, Arial Narrow, sans-serif;
	margin: 1em auto 3em;
	width: 15em;
	border: none;
	outline: none;
	font-size: 0.5em;
	color: #fff;
	color: #fffc;
	font-style: italic;
	border-bottom: dashed 0.2em #fff;
	border-bottom: dashed 0.2em #fff7;
	border-radius: 50%;
	padding: 0.5em;
	transition: border-bottom 0.3s, margin 0.3s;
	transform: rotatex(10deg);
	cursor: pointer;
}

#more:active {
	margin-top: 1.3em;
	margin-bottom: 2.8em;
	text-shadow: none;
	border-bottom-width: 0.1em;
}

#content > div a {
	text-decoration: none;
	color: hsla(5,60%,60%,0.8);
	font-weight: bold;
}

audio {
	padding: 0.2em;
	display: inline-block;
	margin-bottom: 2em;
}

img[alt] {
	color: white;
	font-family: Impact, Bahnschrift, Tahoma, Arial, sans-serif;
	text-align: center;
	font-size: 2em;
}

#airlogo_text {
	height: 2em;
	padding: 13px 50px 30px 50px;
	border-bottom: solid 3px white;
	margin-top: 20px;
}

#sticky {
	top: 0;
	position: -webkit-sticky;
	position: sticky;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul * {
	font-family: Bahnschrift, Tahoma, Arial, sans-serif;
	font-size: 1.5vw;
	color: white;
	text-align: center;
	overflow: hidden;
}

ul li {
	float: left;
	width: 20%;
	overflow: visible;
	box-sizing: border-box;
	position: relative;
	padding: 5px 0px;
	background-color: hsla(0,0%,20%,0.3);
	border-radius: 10px 50px;
}

ul li ul {
	display: none;
	margin: 0px;
	border-radius: 10px 50px;
}

ul li:hover ul {
	display: block;
	position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
}

ul li:hover ul *{
	font-size: 0.9em;
	width: 100%;
	padding: 0.5vw 0px;
	border-radius: 0px;
	background-color: hsla(0,0%,100%,0.3);
}

iframe {
	width: 100%;
	margin: auto;
	margin-top: 0.5em;
	height: 13.83em;
	border: none;
	box-shadow: 0px 10px 50px hsla(0,0%,0%,0.5);
}

@media only screen and (max-width: 1600px) {
	#content {width: 65%;}
	iframe {height: 15em;}
}

@media only screen and (max-width: 1300px) {
	#content {width: 75%;}
	iframe {height: 14em;}
}

@media only screen and (max-width: 996px) {
	body {background-size: 1000px 1080px;}
	#content {width: 80%;}
	iframe {height: 13em;}
}

@media only screen and (max-width: 600px) {
	#content {width: 95%; font-size: 1.5em;}
	iframe {height: 9em;}
	ul * {font-size: 2vw;}
	ul li:hover ul * {font-size: 1.8vw;}
	ul li ul {border-radius: 10px 20px;}
}

	/* player */

				#player {
					width: 13em;
					box-shadow: 0 0 2em #333a;
					background-color: #282828;
					padding: 1em;   
					margin: 2em auto 4em;
					border-radius: 1em 3.5em;
					border-bottom: solid 0.3em rgb(13,12,12);
					overflow: hidden;
					font-size: 0.87em;
				}
				
				#songTitle {
					font-family: Bahnschrift, Arial, sans-serif;
					text-transform: uppercase;
					padding-bottom: 0.2em;
					color: hsl(2,67%,50%);
					font-size: 0.9em;
					font-weight: bold;
					border-bottom: solid 0.15em hsl(2,77%,50%);
					margin-bottom: 0.3em;
					text-align: center;
					border-radius: 50%;
					text-shadow: 0 0 0.8em hsla(2,77%,60%,0.3);
				}
				
				#songAuthor {
					font-size: 0.7em;
					text-align: center;
					color: hsla(2,77%,50%,0.7);
					margin-bottom: 0.3em;
				}
				
				#play_controls {
					width: 8em;
					height: 2.5em;
					margin: auto;
					background-color: transparent;
				}
				
				#play_button, #back_button, #next_button {
					background-color: rgb(13,12,12);
					width: 2em;
					height: 2em;
					border-radius: 50%;
					border: solid 0.06em rgb(130,120,120);
					margin: auto;
					text-align: center;
					font-family: Bahnschrift, Arial, sans-serif;
					font-weight: bold;
					color: hsl(2,77%,50%);
					text-shadow: 0 0 0.5em hsla(2,7%,70%,0.5);
					font-size: 1em;
					transform: translate(0,0.5em);
					outline: none;
				}
				
				#play_button:active, #back_button:active, #next_button:active {
					background-color: rgb(32,28,28)
				}
				
				#play_button {
					letter-spacing: 0.1em;
					padding-left: 0.45em;
				}
				
				#back_button, #next_button {
					letter-spacing: 0;
					width: 1.8em;
					height: 1.8em;
				}
				
				#seek-bar {
					width: 100%;
					height: 0.2em;
					background-color: rgb(13,12,12);
					display: flex;
					margin: 1em auto 0;
					border-radius: 0.1em;
				}
				
				#fill {
					height: 0.2em;
					border-radius: 0.1em;
					background-color: hsl(2,77%,50%);
				}
				
				#handle {
					width: 0.2em;
					height: 0.2em;
					background-color: hsl(2,77%,50%);
					border-radius: 50%;
					margin-left: -0.1em;
					transform: scale(2);
				}
				
				#slider {
					display: flex;
					-webkit-appearance: none;
					transform: translatey(-0.7em);
					background-color: #2828280;
					width: 100%;
					height: 1em;
					opacity: 0%;
					cursor: pointer;
					outline: none;
				}
				
				#slider::-webkit-slider-thumb {
					-webkit-appearance: none;
					appearance: none;
					width: 0.2em;
					height: 1em;
					background: #0000;
					border-radius: 50%;
					cursor: pointer;
					outline: none;
				}

				#slider::-moz-range-thumb {
					-webkit-appearance: none;
					appearance: none;
					width: 1em;
					height: 1em;
					background: #000;
					cursor: pointer;
					outline: none;
				}
				
				#slider-bar {
					padding: 0;
					display: block;
					border-radius: 0%;
					transform: translatey(0.5em);
					margin: auto;
					width: 7em;
					height: 1em;
					background-color: #0ff0;
				}
				
#clock {
	font-size: 0.8em;
	font-family: Bahnschrift Light, Arial Narrow, sans-serif;
	color: white;
	padding: 2em 0 0;
	text-shadow: 0 0 2em #fff7;
}

#clock  span {
	margin: 0;
	display: inline;
}

#dow {color: #fffa;}

#date {font-weight: bold;}

#watch {color: #444;}

#info {
	font-size: 1.3em;
}

#small_info {
	width: 24em;
	margin: 0 auto 1em;
	padding-bottom: 0.3em;
	font-size: 0.4em;
	color: #fffc;
	font-style: italic;
	border-bottom: dashed 0.2em #fff;
	border-bottom: dashed 0.2em #fff7;
	border-radius: 50%;
}

#small_info a {
	color: #444;
	text-shadow: 0 0 1em #7775;
}